.form-elegant .font-small {
    font-size: 0.8rem;
}
form{
    margin: 10px;
}
.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

.form-elegant .modal-header {
    border-bottom: none;
    padding: 20px 20px 20px 20px;
   
}

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3 !important;
}

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400;
}

class.modal-content.form-elegant {
    color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background: #f8b379;
}
.p-input{
    display: block;
    color: white;
    font-size: 16px;    
    text-align: center;
   margin-top: 0px;
}
.p-edit{
    display: block;
    color: #f8b379;
    font-size: 16px;    
    text-align: center;
    margin-top: 10px;
   
}
.input-ggg{
    width: 100%;
    padding: 5px 0px 5px 5px;
    border: 2px solid #f8b379;
    outline: none;
    font-size: 14px;
    color: #f8b379; 
   margin-top:-10px;
   text-align: center;
}
.ckedit{
    margin: 10px;
}

.select{
   color:#f8b379;
    border:2px solid #f8b379;
    text-align: center;
    display: block;
}